[submodule "pixelpart-runtime"]
	path = pixelpart-runtime
	url = https://github.com/soeren-m/pixelpart-runtime.git
[submodule "godot-cpp-41"]
	path = godot-cpp-41
	url = https://github.com/godotengine/godot-cpp.git
