# Directories
/bin/*
/build/*
/.venv/*
/.vscode/*

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.os
*.obj
*.bc

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll
*.wasm

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bundle

# Log files
*.log

# Python
__pycache__/

# SCons
*.sconsign.dblite