name: Build
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  windows-build:
    name: Windows build
    uses: ./.github/workflows/windows_build.yml

  linux-build:
    name: Linux build
    uses: ./.github/workflows/linux_build.yml

  macos-build:
    name: macOS build
    uses: ./.github/workflows/macos_build.yml

  ios-build:
    name: iOS build
    uses: ./.github/workflows/ios_build.yml

  android-build:
    name: Android build
    uses: ./.github/workflows/android_build.yml

  web-build:
    name: Web build
    uses: ./.github/workflows/web_build.yml

  package:
    name: Package plugin
    runs-on: ubuntu-22.04
    needs: [windows-build, linux-build, macos-build, ios-build, android-build, web-build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Windows artifacts
        uses: actions/download-artifact@v4
        with:
          name: pixelpart-windows
          path: artifacts

      - name: Download Linux artifacts
        uses: actions/download-artifact@v4
        with:
          name: pixelpart-linux
          path: artifacts

      - name: Download macOS artifacts
        uses: actions/download-artifact@v4
        with:
          name: pixelpart-macos
          path: artifacts

      - name: Download iOS artifacts
        uses: actions/download-artifact@v4
        with:
          name: pixelpart-ios
          path: artifacts

      - name: Download Android artifacts
        uses: actions/download-artifact@v4
        with:
          name: pixelpart-android
          path: artifacts

      - name: Download web artifacts
        uses: actions/download-artifact@v4
        with:
          name: pixelpart-web
          path: artifacts

      - name: Display downloaded artifacts
        run: ls -R artifacts

      - name: Copy binaries
        run: |
          mkdir ./pixelpart-plugin/addons/pixelpart/bin
          cp -r artifacts/*.dll ./pixelpart-plugin/addons/pixelpart/bin/
          cp -r artifacts/*.so ./pixelpart-plugin/addons/pixelpart/bin/
          cp -r artifacts/*.dylib ./pixelpart-plugin/addons/pixelpart/bin/
          cp -r artifacts/*.xcframework ./pixelpart-plugin/addons/pixelpart/bin/
          cp -r artifacts/*.wasm ./pixelpart-plugin/addons/pixelpart/bin/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pixelpart-plugin-godot4
          path: ./pixelpart-plugin/addons
