name: Windows build
on:
  workflow_call:

jobs:
  build-windows:
    runs-on: windows-latest
    name: Build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update submodules
        uses: ./.github/actions/submodules

      - name: Install common dependencies
        uses: ./.github/actions/deps

      - name: Compile
        run: python build.py platform=windows

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pixelpart-windows
          path: ./pixelpart-plugin/addons/pixelpart/bin
